:root {
  --primary-color: #0057ff;
  --secondary-color: #8b8b8b;
  --background-color: #f3f3f3;
  --text-color: #111827;
  --color-white: #ffffff;
  --border-color: #f5f5f5;
  --border-radius: 8px;
  --transition-duration: 0.3s;
}

body {
  font-family: 'ui-system', sans-serif;
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
  transition: all 0.2s ease;
}
button:hover {
  opacity: 0.9;
}
input,
select {
  outline: none;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 14px;
}
